.student__details {
  .student__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .avatar {
      height: 150px;
      width: 150px;
    }
  }
}
