.student__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .avatar {
    height: 100px;
    width: 100px;
  }
}

.classCard {
  background-color: #fff !important;
  border-radius: 5px;
  padding: 10px;
  text-align: center;

  .icon {
    width: 80px;
    height: 80px;
  }
}

.selectBox {
  position: relative;
}
.showcheckboxes {
  display: block;
  border: 1px #dadada solid;
}

.profileContainer {
  position: relative;
  .profileIcon {
    position: absolute;
    color: $darkBlue;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    display: none;
  }
}

.profileContainer:hover .profileIcon {
  display: block;
}
